apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "endpoint": "url_with_https_and_port",
      "username": "user_with_@",
      "password": "pass",
      "insecure": "boolean_option"
    }
